#
# Package list
#
CONFIG_PKG_APPTRK_PPCBIN=y
CONFIG_PKG_AUTOCONF=y
CONFIG_PKG_AUTOMAKE=y
CONFIG_PKG_ALSA_LIB=y
CONFIG_PKG_ALSA_UTILS=y
CONFIG_PKG_BASH=y
# CONFIG_PKG_BASH_WANT_NO_SH_SYMLINK is not set
CONFIG_PKG_BIND=y
CONFIG_PKG_BINUTILS=y
CONFIG_PKG_BISON=y
CONFIG_PKG_BLUEZ_HCIDUMP=y
CONFIG_PKG_BLUEZ_LIBS=y
CONFIG_PKG_BLUEZ_UTILS=y
CONFIG_PKG_BOA=y
CONFIG_PKG_BONNIE_PLUS_PLUS=y
CONFIG_PKG_BRIDGE_UTILS=y
CONFIG_PKG_BTCS=y
CONFIG_PKG_BTCS_WANT_SERVICES=y
CONFIG_PKG_BTCS_WANT_TESTAPP=y
CONFIG_PKG_BUSYBOX=y
CONFIG_PKG_BUSYBOX_PRECONFIG="busybox.config"
# CONFIG_PKG_BUSYBOX_WANT_CF is not set
CONFIG_PKG_BZIP2=y
CONFIG_PKG_CAN4LINUX=y
CONFIG_PKG_CLAMAV=y
CONFIG_PKG_CONNTRACK=y
CONFIG_PKG_COREUTILS=y
CONFIG_PKG_CPIO=y
CONFIG_PKG_CRACKLIB=y
CONFIG_PKG_CRAMFS=y
CONFIG_PKG_CURL=y
CONFIG_PKG_DAEMONIZER=y
CONFIG_PKG_DEVMEM2=y
CONFIG_PKG_DHCP=y
CONFIG_PKG_DHCP_WANT_SERVER=y
# CONFIG_PKG_DHCP_WANT_CLIENT is not set
CONFIG_PKG_DB1=y
# CONFIG_PKG_DEV is not set
CONFIG_PKG_DEVFSD=y
# CONFIG_PKG_DEV_NONE is not set
CONFIG_PKG_DIFFUTILS=y
CONFIG_PKG_DIRECTFB=y
CONFIG_PKG_DIRECTFB_EXAMPLES=y
CONFIG_PKG_DISTCC=y
CONFIG_PKG_DOSFSTOOLS=y
CONFIG_PKG_DROPBEAR=y
CONFIG_PKG_DROPBEAR_WANT_URANDOM_DEV=y
CONFIG_PKG_DROPBEAR_WANT_NO_REV_DNS=y
CONFIG_PKG_DROPBEAR_WANT_NO_X11FWD=y
CONFIG_PKG_DROPBEAR_WANT_HACKABLE_KEY=y
CONFIG_PKG_DTC=y
CONFIG_PKG_E2FSPROGS=y
CONFIG_PKG_ED=y
CONFIG_PKG_ETHTOOL=y
CONFIG_PKG_EXPAT=y
CONFIG_PKG_FAKEROOT=y
CONFIG_PKG_FAKE_PROVIDES=y
CONFIG_PKG_FINDUTILS=y
CONFIG_PKG_FLEX=y
CONFIG_PKG_FREETYPE=y
CONFIG_PKG_GAWK=y
CONFIG_PKG_GCC=y
CONFIG_PKG_GDB=y
CONFIG_PKG_GDB_NATIVE_WANT_ED=y
CONFIG_PKG_GDB_CROSS_WANT_ED=y
CONFIG_PKG_GDB_SERVER_WANT_ED=y
# CONFIG_PKG_GDB_M68K_BDM_WANT_ED is not set
CONFIG_PKG_GENEXT2FS=y
CONFIG_PKG_GENROMFS=y
CONFIG_PKG_GETTEXT=y
CONFIG_PKG_GLIB2=y
CONFIG_PKG_GMP=y
CONFIG_PKG_GREP=y
CONFIG_PKG_GROFF=y
CONFIG_PKG_GSTREAMER_CORE=y
CONFIG_PKG_GST_PLUGINS_BASE=y
CONFIG_PKG_GST_PLUGINS_GOOD=y
CONFIG_PKG_GST_PLUGINS_BAD=y
CONFIG_PKG_GST_PLUGINS_UGLY=y
CONFIG_PKG_HDPARM=y
CONFIG_PKG_HELLOWORLD=y
# CONFIG_PKG_HELLOWORLD_MOD is not set
CONFIG_PKG_HESIOD=y
CONFIG_PKG_HOTPLUG=y
CONFIG_PKG_HTTPD=y
CONFIG_PKG_I2C_TOOLS=y
CONFIG_PKG_IOZONE=y
CONFIG_PKG_IPROUTE=y
CONFIG_PKG_PIDENTD=y
CONFIG_PKG_INETUTILS=y
CONFIG_PKG_IPERF=y
CONFIG_PKG_IPSEC_TOOLS=y
CONFIG_PKG_IPSECADM=y
CONFIG_PKG_IPTABLES=y
CONFIG_PKG_IPUTILS=y
CONFIG_PKG_IRATTACH=y
CONFIG_PKG_KBD=y
CONFIG_PKG_LESS=y
CONFIG_PKG_LFS_UTILS=y
CONFIG_PKG_LIBICONV=y
CONFIG_PKG_LIBID3TAG=y
CONFIG_PKG_LIBMAD=y
CONFIG_PKG_LIBNETFILTER_CONNTRACK=y
CONFIG_PKG_LIBNFNETLINK=y
CONFIG_PKG_LIBJPEG=y
CONFIG_PKG_LIBELF=y
CONFIG_PKG_LIBPCAP=y
CONFIG_PKG_LIBPNG=y
CONFIG_PKG_LIBOIL=y
CONFIG_PKG_LIBTERMCAP=y
CONFIG_PKG_LIBTOOL=y
CONFIG_PKG_LIBUSB=y
CONFIG_PKG_LIBXML2=y
CONFIG_PKG_LINUX_ATM=y
# CONFIG_PKG_LINUX_WLAN is not set
CONFIG_PKG_LKC=y
CONFIG_PKG_LTP=y
CONFIG_PKG_LMBENCH=y
CONFIG_PKG_LRZSZ=y
CONFIG_PKG_LZO=y
CONFIG_PKG_M4=y
CONFIG_PKG_MADPLAY=y
CONFIG_PKG_MAKE=y
CONFIG_PKG_MAN=y
CONFIG_PKG_MDADM=y
CONFIG_PKG_MERGE=y
CONFIG_PKG_MICROWINDOWS=y
CONFIG_PKG_MINICOM=y
# CONFIG_PKG_MODUTILS is not set
CONFIG_PKG_MODULE_INIT_TOOLS=y
# CONFIG_MODUTILS_NONE is not set
CONFIG_PKG_MP3PLAY=y
CONFIG_PKG_MTD_UTILS=y
CONFIG_PKG_MYSQL=y
CONFIG_PKG_NCURSES=y
CONFIG_PKG_NCURSES_WANT_REDUCED_SET=y
CONFIG_PKG_NET_TOOLS=y
CONFIG_PKG_NETPERF=y
CONFIG_PKG_NSS_MDNS=y
CONFIG_PKG_NTPCLIENT=y
CONFIG_PKG_OPENOBEX=y
CONFIG_PKG_OPENSSH=y
CONFIG_PKG_OPENSSL=y
# CONFIG_PKG_OPENSSL_WANT_SEC is not set
CONFIG_PKG_OPENSWAN=y
CONFIG_PKG_OPROFILE=y
CONFIG_PKG_PATCH=y
CONFIG_PKG_PCIUTILS=y
CONFIG_PKG_PCRE=y
CONFIG_PKG_PERL=y
CONFIG_PKG_PEAKCANLINUX=y
CONFIG_PKG_PHP=y
CONFIG_PKG_PLAY=y
CONFIG_PKG_POPT=y
CONFIG_PKG_PORTMAP=y
CONFIG_PKG_PPP=y
CONFIG_PKG_PROCINFO=y
CONFIG_PKG_PROCPS=y
CONFIG_PKG_PSMISC=y
CONFIG_PKG_PYTHON=y
CONFIG_PKG_QTOPIA=y
# CONFIG_PKG_QTOPIA_WANT_MOUSE is not set
# CONFIG_PKG_QTOPIA_WANT_CACHE_HOST_TOOLS is not set
CONFIG_PKG_RPM=y
CONFIG_PKG_RNG_TOOLS=y
CONFIG_PKG_RSYNC=y
CONFIG_PKG_SAMBA=y
CONFIG_PKG_SASH=y
CONFIG_PKG_SCHEDUTILS=y
CONFIG_PKG_SCREEN=y
CONFIG_PKG_SED=y
CONFIG_PKG_SEQ=y
CONFIG_PKG_SETSERIAL=y
CONFIG_PKG_SKELL=y
# CONFIG_PKG_SKELL_WANT_TERMINFO is not set
CONFIG_PKG_STRACE=y
CONFIG_PKG_SYSCONFIG=y
CONFIG_PKG_SYSFSUTILS=y
CONFIG_PKG_SYSKLOGD=y
CONFIG_PKG_SYSVINIT=y
CONFIG_PKG_TAR=y
CONFIG_PKG_TCPDUMP=y
CONFIG_PKG_TCP_WRAPPERS=y
CONFIG_PKG_TEXINFO=y
CONFIG_PKG_TIME=y
CONFIG_PKG_TIMEZONE=y
CONFIG_PKG_TIMEZONE_WANT_TZCODE=y
CONFIG_PKG_TIMEZONE_WANT_LIBTZ=y
CONFIG_PKG_TINYLOGIN=y
CONFIG_PKG_TINYPROXY=y
CONFIG_PKG_TSLIB=y
CONFIG_PKG_UDEV=y
CONFIG_PKG_USBUTILS=y
CONFIG_PKG_UCLINUX_CKSUM=y
CONFIG_PKG_UTIL_LINUX=y
CONFIG_PKG_U_BOOT_TOOLS=y
CONFIG_PKG_UNIFDEF=y
CONFIG_PKG_UNZIP=y
CONFIG_PKG_VALGRIND=y
CONFIG_PKG_VIM=y
CONFIG_PKG_VSFTPD=y
CONFIG_PKG_WGET=y
CONFIG_PKG_WHETSTONE=y
CONFIG_PKG_WHICH=y
CONFIG_PKG_WIRELESS_TOOLS=y
CONFIG_PKG_YAFFS_UTILS=y
CONFIG_PKG_ZLIB=y
