CONFIG_PKG_SKELL=y
CONFIG_PKG_BASE_LIBS=y
# CONFIG_PKG_EMB_BASE_LIBS is not set
CONFIG_PKG_BUSYBOX=y
CONFIG_PKG_TINYLOGIN=y
CONFIG_PKG_MODUTILS=y
CONFIG_PKG_BASH=y
CONFIG_PKG_COREUTILS=y
CONFIG_PKG_ZLIB=y
CONFIG_PKG_LFS_UTILS=y
CONFIG_PKG_FINDUTILS=y
CONFIG_PKG_GAWK=y
CONFIG_PKG_LIBTERMCAP=y
CONFIG_PKG_NCURSES=y
# CONFIG_PKG_PERL is not set
CONFIG_PKG_VIM=y
CONFIG_PKG_M4=y
CONFIG_PKG_BISON=y
CONFIG_PKG_LESS=y
# CONFIG_PKG_GROFF is not set
CONFIG_PKG_SED=y
CONFIG_PKG_FLEX=y
CONFIG_PKG_GETTEXT=y
CONFIG_PKG_NET_TOOLS=y
CONFIG_PKG_INETUTILS=y
# CONFIG_PKG_TEXINFO is not set
CONFIG_PKG_AUTOCONF=y
CONFIG_PKG_AUTOMAKE=y
# CONFIG_PKG_FILE is not set
CONFIG_PKG_LIBTOOL=y
CONFIG_PKG_BZIP2=y
CONFIG_PKG_DIFFUTILS=y
CONFIG_PKG_ED=y
# CONFIG_PKG_KBD is not set
CONFIG_PKG_E2FSPROGS=y
CONFIG_PKG_GREP=y
# CONFIG_PKG_GRUB is not set
CONFIG_PKG_MAN=y
CONFIG_PKG_MAKE=y
CONFIG_PKG_PATCH=y
CONFIG_PKG_PROCINFO=y
CONFIG_PKG_PROCPS=y
# CONFIG_PKG_PSMISC is not set
CONFIG_PKG_SYSKLOGD=y
# CONFIG_PKG_SYSVINIT is not set
CONFIG_PKG_TAR=y
CONFIG_PKG_UTIL_LINUX=y
# CONFIG_PKG_DB1 is not set
CONFIG_PKG_WHICH=y
# CONFIG_PKG_FAKEROOT is not set
# CONFIG_PKG_GDB is not set
CONFIG_PKG_WGET=y
CONFIG_PKG_EXPAT=y
CONFIG_PKG_FREETYPE=y
