# CONFIG_PKG_APPTRK_PPCBIN is not set
# CONFIG_PKG_AUTOCONF is not set
# CONFIG_PKG_AUTOMAKE is not set
CONFIG_LIBC_WANTED=y
CONFIG_PKG_LIBC="base_libs"
# CONFIG_PKG_LIBC_WANT_LOCALES is not set
# CONFIG_PKG_LIBC_WANT_HEADERS is not set
# CONFIG_PKG_LIBC_WANT_STATIC_LIBS is not set
# CONFIG_PKG_BASH is not set
# CONFIG_PKG_BINUTILS is not set
# CONFIG_PKG_BISON is not set
# CONFIG_PKG_BOA is not set
CONFIG_PKG_BUSYBOX=y
CONFIG_PKG_BUSYBOX_PRECONFIG="busybox.config"
# CONFIG_PKG_BUSYBOX_WANT_CF is not set
# CONFIG_PKG_BZIP2 is not set
# CONFIG_PKG_CAN4LINUX is not set
# CONFIG_PKG_COREUTILS is not set
# CONFIG_PKG_DAEMONIZER is not set
# CONFIG_PKG_DB1 is not set
CONFIG_PKG_DEV=y
# CONFIG_PKG_DIFFUTILS is not set
# CONFIG_PKG_DROPBEAR is not set
# CONFIG_PKG_E2FSPROGS is not set
# CONFIG_PKG_ED is not set
# CONFIG_PKG_ETHTOOL is not set
# CONFIG_PKG_EXPAT is not set
# CONFIG_PKG_FAKEROOT is not set
CONFIG_PKG_FAKE_PROVIDES=y
# CONFIG_PKG_FILE is not set
# CONFIG_PKG_FINDUTILS is not set
# CONFIG_PKG_FLEX is not set
# CONFIG_PKG_FREETYPE is not set
# CONFIG_PKG_GAWK is not set
# CONFIG_PKG_GCC is not set
# CONFIG_PKG_GDB is not set
# CONFIG_PKG_GENEXT2FS is not set
# CONFIG_PKG_GETTEXT is not set
# CONFIG_PKG_GMP is not set
# CONFIG_PKG_GREP is not set
# CONFIG_PKG_GROFF is not set
# CONFIG_PKG_GRUB is not set
# CONFIG_PKG_HDPARM is not set
# CONFIG_PKG_HELLOWORLD is not set
# CONFIG_PKG_HOTPLUG is not set
# CONFIG_PKG_HTTPD is not set
# CONFIG_PKG_I2C_TOOLS is not set
# CONFIG_PKG_PIDENTD is not set
CONFIG_PKG_INETUTILS=y
# CONFIG_PKG_IPERF is not set
# CONFIG_PKG_IPSEC_TOOLS is not set
# CONFIG_PKG_IPSECADM is not set
# CONFIG_PKG_IPTABLES is not set
# CONFIG_PKG_IRATTACH is not set
# CONFIG_PKG_KBD is not set
# CONFIG_PKG_LESS is not set
# CONFIG_PKG_LFS_UTILS is not set
# CONFIG_PKG_LIBID3TAG is not set
# CONFIG_PKG_LIBMAD is not set
# CONFIG_PKG_LIBJPEG is not set
# CONFIG_PKG_LIBELF is not set
# CONFIG_PKG_LIBPCAP is not set
# CONFIG_PKG_LIBTERMCAP is not set
# CONFIG_PKG_LIBTOOL is not set
# CONFIG_PKG_LIBUSB is not set
# CONFIG_PKG_LIBXML2 is not set
# CONFIG_PKG_LKC is not set
# CONFIG_PKG_LTP is not set
# CONFIG_PKG_LMBENCH is not set
# CONFIG_PKG_M4 is not set
# CONFIG_PKG_MADPLAY is not set
# CONFIG_PKG_MAKE is not set
# CONFIG_PKG_MAN is not set
CONFIG_PKG_MERGE=y
# CONFIG_PKG_MICROWINDOWS is not set
# CONFIG_PKG_MODUTILS is not set
CONFIG_PKG_MODULE_INIT_TOOLS=y
# CONFIG_MODUTILS_NONE is not set
# CONFIG_PKG_MTD_UTILS is not set
# CONFIG_PKG_MYSQL is not set
# CONFIG_PKG_NCURSES is not set
# CONFIG_PKG_NET_TOOLS is not set
# CONFIG_PKG_NETPERF is not set
CONFIG_PKG_NTPCLIENT=y
# CONFIG_PKG_OPENSSL is not set
# CONFIG_PKG_OPENSWAN is not set
# CONFIG_PKG_OPROFILE is not set
# CONFIG_PKG_PATCH is not set
# CONFIG_PKG_PCIUTILS is not set
# CONFIG_PKG_PERL is not set
# CONFIG_PKG_PHP is not set
# CONFIG_PKG_POPT is not set
# CONFIG_PKG_PORTMAP is not set
# CONFIG_PKG_PPP is not set
# CONFIG_PKG_PROCINFO is not set
# CONFIG_PKG_PROCPS is not set
# CONFIG_PKG_PSMISC is not set
# CONFIG_PKG_RPM is not set
# CONFIG_PKG_RNG_TOOLS is not set
# CONFIG_PKG_RSYNC is not set
# CONFIG_PKG_SASH is not set
# CONFIG_PKG_SED is not set
CONFIG_PKG_SKELL=y
# CONFIG_PKG_SKELL_WANT_TERMINFO is not set
# CONFIG_PKG_STRACE is not set
CONFIG_PKG_SYSCONFIG=y
# CONFIG_PKG_SYSKLOGD is not set
# CONFIG_PKG_SYSVINIT is not set
# CONFIG_PKG_TAR is not set
# CONFIG_PKG_TCPDUMP is not set
# CONFIG_PKG_TCP_WRAPPERS is not set
# CONFIG_PKG_TEXINFO is not set
# CONFIG_PKG_TIME is not set
# CONFIG_PKG_TINYLOGIN is not set
# CONFIG_PKG_TMAKE is not set
# CONFIG_PKG_USBUTILS is not set
# CONFIG_PKG_UCLINUX_CKSUM is not set
# CONFIG_PKG_UTIL_LINUX is not set
# CONFIG_PKG_U_BOOT_TOOLS is not set
# CONFIG_PKG_UNZIP is not set
# CONFIG_PKG_VIM is not set
# CONFIG_PKG_VSFTPD is not set
# CONFIG_PKG_WGET is not set
# CONFIG_PKG_WHICH is not set
# CONFIG_PKG_WIRELESS_TOOLS is not set
CONFIG_PKG_ZLIB=y

#
# Target System Configuration
#

#
# Options
#
# CONFIG_SYSCFG_IFACE4 is not set
# CONFIG_SYSCFG_SETTIME is not set
CONFIG_SYSCFG_START_SYSLOG=y
CONFIG_SYSCFG_START_INETD=y
CONFIG_SYSCFG_INETD_ARGS="-R 1000 /etc/inetd.conf"
