CONFIG_PKG_FAKE_PROVIDES=y
CONFIG_PKG_MKSPOOFLINKS=y
CONFIG_PKG_U_BOOT=y
CONFIG_PKG_COLILO=y
CONFIG_PKG_KERNEL=y
CONFIG_PKG_DEV=y
CONFIG_PKG_SKELL=y
CONFIG_PKG_LIBC=y
# CONFIG_PKG_BINUTILS is not set
# CONFIG_PKG_GCC is not set
CONFIG_PKG_BUSYBOX=y
# CONFIG_PKG_TINYLOGIN is not set
CONFIG_PKG_MODUTILS=y
CONFIG_PKG_MODULE_INIT_TOOLS=y
CONFIG_PKG_LIBTERMCAP=y
CONFIG_PKG_BASH=y
CONFIG_PKG_COREUTILS=y
CONFIG_PKG_ZLIB=y
CONFIG_PKG_LFS_UTILS=y
CONFIG_PKG_FINDUTILS=y
CONFIG_PKG_GAWK=y
CONFIG_PKG_NCURSES=y
# CONFIG_PKG_PERL is not set
CONFIG_PKG_VIM=y
CONFIG_PKG_M4=y
CONFIG_PKG_BISON=y
CONFIG_PKG_LESS=y
CONFIG_PKG_GROFF=y
CONFIG_PKG_SED=y
CONFIG_PKG_FLEX=y
CONFIG_PKG_GETTEXT=y
CONFIG_PKG_NET_TOOLS=y
CONFIG_PKG_INETUTILS=y
CONFIG_PKG_TEXINFO=y
# CONFIG_PKG_AUTOCONF is not set
# CONFIG_PKG_AUTOMAKE is not set
CONFIG_PKG_LIBTOOL=y
CONFIG_PKG_BZIP2=y
CONFIG_PKG_DIFFUTILS=y
CONFIG_PKG_ED=y
CONFIG_PKG_KBD=y
CONFIG_PKG_E2FSPROGS=y
CONFIG_PKG_GREP=y
CONFIG_PKG_MAN=y
CONFIG_PKG_MAKE=y
CONFIG_PKG_BUILDROOT_LKC=y
CONFIG_PKG_LKC=y
CONFIG_PKG_PATCH=y
CONFIG_PKG_PROCINFO=y
CONFIG_PKG_PROCPS=y
CONFIG_PKG_PSMISC=y
CONFIG_PKG_SYSKLOGD=y
# CONFIG_PKG_SYSVINIT is not set
CONFIG_PKG_TAR=y
CONFIG_PKG_UTIL_LINUX=y
CONFIG_PKG_DB1=y
CONFIG_PKG_HDPARM=y
CONFIG_PKG_POPT=y
CONFIG_PKG_LIBELF=y
CONFIG_PKG_LIBUSB=y
CONFIG_PKG_USBUTILS=y
CONFIG_PKG_ETHTOOL=y
CONFIG_PKG_PCIUTILS=y
CONFIG_PKG_IRATTACH=y
CONFIG_PKG_WIRELESS_TOOLS=y
CONFIG_PKG_OPROFILE=y
CONFIG_PKG_LIBPCAP=y
CONFIG_PKG_TCPDUMP=y
CONFIG_PKG_IPERF=y
CONFIG_PKG_NETPERF=y
CONFIG_PKG_IPROUTE=y
CONFIG_PKG_BOA=y
CONFIG_PKG_TCP_WRAPPERS=y
CONFIG_PKG_PORTMAP=y
CONFIG_PKG_OPENSSL=y
CONFIG_PKG_DROPBEAR=y
CONFIG_PKG_IPSEC_TOOLS=y
CONFIG_PKG_IPSECADM=y
CONFIG_PKG_TIME=y
CONFIG_PKG_CAN4LINUX=y
CONFIG_PKG_I2C_TOOLS=y
CONFIG_PKG_HOTPLUG=y
CONFIG_PKG_WHICH=y
CONFIG_PKG_FAKEROOT=y
CONFIG_PKG_GDB=y
CONFIG_PKG_GDB_BDM=y
CONFIG_PKG_STRACE=y
CONFIG_PKG_WGET=y
CONFIG_PKG_VSFTPD=y
CONFIG_PKG_EXPAT=y
CONFIG_PKG_FREETYPE=y
CONFIG_PKG_HELLOWORLD=y
CONFIG_PKG_LTP=y
CONFIG_PKG_LMBENCH=y
CONFIG_PKG_GENEXT2FS=y
CONFIG_PKG_U_BOOT_TOOLS=y
CONFIG_PKG_MTD_UTILS=y
#CONFIG_PKG_RPM is not set

CONFIG_PKG_SYSCONFIG=y
CONFIG_PKG_MERGE=y
#CONFIG_SYSCFG_WANT_LOGIN_TTY is not set

